body {
	background-image: url('parlai_chat_web_background.jpg');
	background-position: right;
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
}

section {
	background-color: inherit !important;

}








.fade-in {
	animation: fadeIn ease 10s;
	-webkit-animation: fadeIn ease 10s;
	-moz-animation: fadeIn ease 10s;
	-o-animation: fadeIn ease 10s;
	-ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-moz-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-o-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-ms-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

.fade-out {
	animation: fadeOut ease 3s;
	-webkit-animation: fadeOut ease 3s;
	-moz-animation: fadeOut ease 3s;
	-o-animation: fadeOut ease 3s;
	-ms-animation: fadeOut ease 3s;
}
@keyframes fadeOut {
	0% {
		opacity:1;
	}
	100% {
		opacity:0;
	}
}
@-moz-keyframes fadeOut {
	0% {
		opacity:1;
	}
	100% {
		opacity:0;
	}
}
@-webkit-keyframes fadeOut {
	0% {
		opacity:1;
	}
	100% {
		opacity:0;
	}
}
@-o-keyframes fadeOut {
	0% {
		opacity:1;
	}
	100% {
		opacity:0;
	}
}
@-ms-keyframes fadeOut {
	0% {
		opacity:1;
	}
	100% {
		opacity:0;
	}
}
